<html>
    <head>
        <title>Error 404</title>
    </head>
    <body>
        <p>Invalid URL</p>
        <br>
        <br>
        <p>Here are some available pages</p>
        <a href="/">Index</a>
        <a href="/help">Help</a>
        <a href="/about">About</a>
    </body>
</html>