<html>
    <head>
        <title>Static Assets</title>
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <h1>Hello !!Rohit here</h1>
        <img src="./img/Rohit_Jaiswal_Image.jpg" alt="image" style="width:25%;height:25%">
        <p>{{Hodophile}},a person who loves to travel a lot</p>

        {{>footer}}
    </body>
</html>