<html>
 <head>
    <title></title>
    <link rel="stylesheet" href="../../public/css/style.css">
 </head>
 <body>
      {{>header}}
    <h1>Hey!! How may I help you ??</h1>
    <p>{{help}}</p>
    {{>footer}}
 </body>
</html>