<html>
    <head>
        <title>Static Assets</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{>header}}
        <h1>Serving from Views directory</h1>
        <h3>My name is {{title}}</title></h3>
        <h2>My job is {{Job}}</h2>
        {{>footer}}
    </body>
</html>